/*
 *	HOME PAGE
 *	---------------------------------------------
 */

.covers {
  list-style: none;
  text-align: center;
}

.cover {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1.5em 3em;
}

.cover {
  width: 240px;
}