    </main>
    <nav class="site-nav">
      <a href="{{ '/' | url }}">Browse by book</a>
      <a href="{{ '/all/' | url }}">See all highlights</a>
    </nav>
    <footer class="site-footer">
      <p>
        <small>Highlights by <a href="{{ site.authorUrl }}">{{ site.author }}</a>. Webpage <a href="https://github.com/felixzieger/highlights">forked</a> from <a href="https://github.com/melanierichards/highlights">melanierichards/highlights</a>. Highlights and covers are copyright to their respective authors.</small>
      </p>
    </footer>

    <script src="{{ '/assets/js/deps.js' | url }}"></script>
    <script src="{{ '/assets/js/scripts.js' | url }}"></script>
  </body>
</html>
